kutipan: "blablabla"

In [10]:
"ini adalah string" + 'ini string juga !@#$%^&*(fbksrg)'

'ini adalah stringini string juga !@#$%^&*(fbksrg)'

In [11]:
"ini string diulang 3x " * 3

'ini string diulang 3x ini string diulang 3x ini string diulang 3x '

integer

In [12]:
100

100

float

In [16]:
type(1.5)

float

complex

In [15]:
type(2j)

complex

sequence

list

In [27]:
data = [1,1.43,"123",4,5,6,7,8,9,10,["asdf"]]
print(data)
# menambahkan data ke dalam list
data.append(100)
print(data)
# mengubah data angka 7 dalam list
data[6]=77
print(data)
# menghapus data dari list
data.remove(8)
print(data)

[1, 1.43, '123', 4, 5, 6, 7, 8, 9, 10, ['asdf']]
[1, 1.43, '123', 4, 5, 6, 7, 8, 9, 10, ['asdf'], 100]
[1, 1.43, '123', 4, 5, 6, 77, 8, 9, 10, ['asdf'], 100]
[1, 1.43, '123', 4, 5, 6, 77, 9, 10, ['asdf'], 100]

tuple

In [39]:
varList = (1,2,3,4,5,6,7,8,9,10)
print(varList[-8])

3

slicing -> mengambil sebagian data dari list/tuple

In [36]:
listdata = [1,2,3,4,5,6,7,8,9]
print(listdata[1:7:2])
listdata[2:5] = [33,44,55]
print(listdata)
listdata[2:5] = [33,44]
print(listdata)

[2, 4, 6]
[1, 2, 33, 44, 55, 6, 7, 8, 9]
[1, 2, 33, 44, 6, 7, 8, 9]

Dictionary

In [48]:
vardict={
    "key1":123,
    "key2":234,
    "key3":678,
    "keyn":"asdf",
    "keysub": {
        "subkey1":123
    }
}
print(vardict)
print(vardict["keyn"])
hasil1=vardict["keysub"]
print(hasil1["subkey1"])
print(vardict["keysub"]["subkey1"])
#ubah data
vardict["key3"] = [1,2,3]
print(vardict)
#tambah data
vardict["key4"] = "stringk"
print(vardict)
#remove data
del vardict["key4"]
print(vardict)

{'key1': 123, 'key2': 234, 'key3': 678, 'keyn': 'asdf', 'keysub': {'subkey1': 123}}
asdf
123
123
{'key1': 123, 'key2': 234, 'key3': [1, 2, 3], 'keyn': 'asdf', 'keysub': {'subkey1': 123}}
{'key1': 123, 'key2': 234, 'key3': [1, 2, 3], 'keyn': 'asdf', 'keysub': {'subkey1': 123}, 'key4': 'stringk'}
{'key1': 123, 'key2': 234, 'key3': [1, 2, 3], 'keyn': 'asdf', 'keysub': {'subkey1': 123}}

mencari tahu jumlah data dari list/tuple

In [51]:
listA = [1,2,3,4,5,2,3,4,4]
setA = {1,2,3,4,5,2,3,4,4}
len(listA)
len(setA)

5

variable

In [53]:
varA = 123
varA += 5
varA

128

comparison

In [55]:
varA = 1
varB = 2
varA <= varB

True